*{
    margin: 0;
    padding: 0;
    border: 0;
}
ul{
    display: flex;
    flex-flow: column wrap;
    background: royalblue
}
a{
    display: block;
    text-decoration: none;
    padding: 20px 0;
}
li{
    list-style-type: none;
    
}
a{
    color: white;
    text-align: center;
}

li:hover{
    background: red;
}