 *{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}
.flex-center-class{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    border: 2px solid red;
    height: 70px;
}
.another{
    display: flex;
    
}
aside{
    flex-grow: 1;
    border: 2px solid red;
    height: 70px;
}
article{
    flex-grow: 2;
    border: 2px solid red;
    height: 70px;
}
nav{
    flex-grow: 1;
    border: 2px solid red;
    height: 70px;
}
footer{
    flex-grow: 1;
    border: 2px solid red;
    height: 70px;
    
}
