.one{
    background-color: yellow;
}
.two{
    background-color: red;
}
.three{
    background-color: purple;
}
.four{
    background-color: green;
}
.five{
    background-color: grey;
}
.six{
    background-color: blue;
}
.seven{
    background-color: skyblue;
}
